<%= render 'branding' %>

<nav>
  <ul>
    <li><%= link_to 'Gestión de clientes', '/clients' %></li>
    <li><%= link_to 'Data Collections', '/data_collections' %></li>
    <li><%= link_to 'Documents', '/documents' %></li>
    <li><%= link_to 'Summaries', '/summaries' %></li>
    <li><%= link_to 'Policy Analyses', '/policy_analyses' %></li>
  </ul>
</nav>