<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom sticky-top">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
      <% owner = Current.owner %>
      <% logo_alt = owner&.company_name.presence || "Nombre de tu empresa" %>
      <% if owner&.logo&.attached? %>
        <%= image_tag owner.logo, alt: logo_alt, height: "50", style:"margin:-20px" %>
      <% else %>
        <%= image_tag "logoHowden.png", alt: logo_alt, height: "50", style:"margin:-20px" %>
      <% end %>
      <span style="color:black; font-weight:600;letter-spacing:-1px;">&nbsp;&nbsp;&nbsp;DataRisk</span>
    </a>

    <!-- Botón hamburguesa para móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links de navegación -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center gap-lg-3">
        <li class="nav-item">
          <a class="nav-link" href="#inicio">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#problema">Problema</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#solucion">Solución</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://calendly.com/rvillasevil/30min">Contacto</a>
          <a class="nav-link" href="#funcionalidades">Funcionalidades</a>          
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#testimonios">Testimonios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pasos-siguientes">Pasos siguientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#demo">Demo</a>
        </li>
      </ul>
      <div class="d-flex flex-column flex-lg-row align-items-stretch align-items-lg-center gap-2 ms-lg-4">
        <%= link_to "Solicitar demo", "#demo", class: "btn btn-primary" %>        

        <% if user_signed_in? %>
          <% dashboard_path = current_user.client? ? client_dashboard_path : owner_dashboard_path %>
          <%= link_to "Ir a mi panel", dashboard_path, class: "btn btn-outline-secondary" %>
          <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn btn-outline-danger" %>
        <% else %>
          <%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-outline-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>


