<%= render 'shared/branding' %>

<ul>
  <li><%= link_to 'Toma de datos', data_collections_path %></li>
  <li><%= link_to 'Documentos', documents_path %></li>
  <li><%= link_to 'Resúmenes', summaries_path %></li>
  <li><%= link_to 'Análisis de pólizas', policy_analyses_path %></li>
</ul>