<%= render 'shared/branding' %>

<ul>
  <li><%= link_to 'Toma de datos', '/data_collections' %></li>
  <li><%= link_to 'Documentos', '/documents' %></li>
  <li><%= link_to 'Resúmenes', '/summaries' %></li>
  <li><%= link_to 'Análisis de pólizas', '/policy_analyses' %></li>
</ul>