<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1 class="h4 mb-4">Nuevo cliente</h1>
          <%= form_with model: @client, url: user_clients_path(@user) do |form| %>
            <%= hidden_field_tag :send_email, true %>

            <div class="mb-3">
              <%= form.label :email, class: "form-label" %>
              <%= form.email_field :email, class: "form-control" %>
            </div>
            <div class="text-end">
              <%= form.submit 'Crear', class: 'btn btn-primary' %>
              <%= link_to 'Volver', user_clients_path(@user), class: 'btn btn-secondary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
