<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-4">Crear Nueva Empresa</h1>

      <%= form_with model: @risk_assistant, local: true do |form| %>
        <div class="mb-3">
          <%= form.label :name, "Nombre de la empresa", class: "form-label" %>
          <%= form.text_field :name, placeholder: "Escribe un nombre", class: "form-control" %>
        </div>

        <div class="d-grid mb-3">
          <%= form.submit "Crear", class: "btn btn-primary" %>
        </div>
      <% end %>

      <div class="text-center">
        <%= link_to 'Volver a la lista', risk_assistants_path, class: 'btn btn-outline-success' %>
      </div>
    </div>
  </div>
</div>
